In [214]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime
import warnings

from sklearn.neighbors import (NearestNeighbors, 
                               KNeighborsRegressor)

from sklearn.compose import ColumnTransformer, Fi

from sklearn.pipeline import Pipeline

from sklearn.model_selection import (train_test_split, 
                                     cross_validate,
                                     cross_val_score)

from sklearn.tree import (DecisionTreeRegressor, 
                          ExtraTreeRegressor)

from sklearn.ensemble import RandomForestRegressor

from sklearn.linear_model import (LinearRegression, 
                                  ElasticNet, 
                                  ElasticNetCV, 
                                  Ridge, 
                                  RidgeCV, 
                                  Lasso, 
                                  LassoCV)

from sklearn.feature_selection import SelectKBest


from sklearn.preprocessing import (MinMaxScaler, 
                                   RobustScaler, 
                                   StandardScaler, 
                                   MaxAbsScaler
                                   ) 

from sklearn.metrics import (r2_score, 
                             mean_squared_error, 
                             mean_absolute_error)

from matplotlib import pyplot as plt
import seaborn as sns

In [164]:
warnings.filterwarnings('ignore')

In [165]:
sns.set_style('darkgrid')

In [166]:
df = pd.read_csv('kc_house_data.csv')

In [167]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [212]:
np.log(X_train[['sqft_living','sqft_lot','floors','sqft_basement','sqft_living15','sqft_lot15']])

,sqft_living,sqft_lot,floors,sqft_basement,sqft_living15,sqft_lot15
6325,7.484369,9.479986,0.000000,-inf,7.919356,9.479986
13473,6.907755,8.216088,0.000000,5.298317,7.146772,8.517193
17614,6.984716,8.920790,0.405465,4.499810,7.064759,8.961879
16970,7.644919,8.922658,0.000000,6.697034,7.495542,8.902456
20868,7.462215,7.271704,0.693147,5.686975,7.644919,9.254740
...,...,...,...,...,...,...
11964,6.907755,8.841304,0.000000,-inf,6.907755,8.846065
21575,8.034955,8.517593,0.693147,-inf,7.981733,8.553139
5390,7.659171,8.472196,0.693147,-inf,7.432484,7.882315
860,5.940171,9.615805,0.000000,-inf,7.064759,9.615805
15795,8.048788,8.699348,0.693147,-inf,8.013012,8.699015

In [197]:
#df.drop('id', axis = 1, inplace = True)
df.date = pd.to_datetime(df.date)
df.waterfront = df.waterfront.astype('bool')
df.condition = df.condition.astype('category')
df.grade = df.grade.astype('category')
df.view = df.view.astype('category')
df.yr_built = pd.to_datetime(df.yr_built, format = '%Y')#.dt.year
df.zipcode = df.zipcode.astype('object')

# df.yr_renovated = df.yr_renovated.replace(0, np.nan)
# df.yr_renovated = pd.to_datetime(df.yr_renovated, format = '%Y').dt.year

In [202]:
### Feature Engineering ###

df['bedbath']    = df.apply(lambda x: x.bedrooms/x.bathrooms if x.bathrooms > 0 else x.bedrooms, axis = 1)
df['renovated']  = df.yr_renovated.apply(lambda x: 1 if x>0 else 0)
df['flr_living'] = df.floors*df.sqft_living
df['livinglot']  = df.sqft_living/df.sqft_lot

## DefiniÃ§Ã£o de features e target

In [203]:
X = df.drop(['zipcode','price','date', 'yr_renovated','yr_built'], axis = 1)
y = df.price

In [204]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42, shuffle = True)

## CriaÃ§Ã£o de Pipelines

In [220]:
ct = ColumnTransformer(transformers=['norm1', FunctionTransformer(np.log1p, validate=False), ['sqft_living','sqft_lot','floors','sqft_living15','sqft_lot15']])

TypeError: log() takes from 1 to 2 positional arguments but 0 were given

In [219]:
ct

ColumnTransformer(transformers=['norm1', <ufunc 'log'>,
                                ['sqft_living', 'sqft_lot', 'floors',
                                 'sqft_living15', 'sqft_lot15']])

### Baseline Models

In [218]:
scalers = [StandardScaler()]#, RobustScaler(), MinMaxScaler()]
regressors = [LinearRegression(), RandomForestRegressor(), DecisionTreeRegressor(), ExtraTreeRegressor(), KNeighborsRegressor()]

for scaler in scalers:
    for regressor in regressors:
        pipe = Pipeline(steps = [('scaling', scaler), 
                                 ('logarithm', ct)
                                 ('modeling', regressor)])
        
        score = cross_validate(pipe, X=X_train, y=y_train, scoring = 'r2', cv=5)['test_score'].mean()
        print(regressor, scaler, score)

TypeError: 'tuple' object is not callable

In [ ]:
asd.named_steps['modeling'].coef_